.intro{
    background-color: var(--peach);
    margin-top: 300px;
}
.intro-main{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    gap: 40px;
}
.left-intro{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.right-intro{
    display: flex;
    justify-content:end;
    flex-direction: column;
    width: 40%;
    gap: 30px;
}